


/*

paleta de colores 

#6089BF
#9CB6D9
#F0F2DC
#F2F2F2
#595959


*/

/* 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color:#595959;
}

.header{
    height: 100%;
    padding: 2% auto;
    background-color: #6089BF;
    color: #f2f2f2;

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
    }

    li{
        padding: 10px;
    }

    a {
    color: #f2f2f2;
    
    }
    
    /* a:link {
        color: #f2f2f2;
    }
    
    a:visited {
        color:
    }
    
    a:focus {
    }
    
    a:hover {
    }
    
    a:active {
    } */

    .titulo{
        font-size: 2.5rem;
        text-align: center;
        color: #f2f2f2;
    }
    
}

.fondo{
    background-image: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),
    url(../assets/img/105603535_286485952470704_5507790349167209405_n.png);

    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2, h3{
        color: #f2f2f2;
    }

    button{
        width: 20%;
        padding: 10px;
    }
}


.main{
    
    background-color: #F0F2DC;
    height: 100%;

    li{
        list-style: none;
        padding: 30px;
        margin: 10px;
        background-color:#F2F2F2;
        border: 1px solid black;
    } 

}





section{
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
}

.particion{
    display: inline;
}

.footer{
    background-color: #9CB6D9 ;

    li{
        list-style: none;
    }
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow: hidden;
    position: relative;
}

section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#img-1{
    position:absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(../assets/img/air_force_1_reducido_6003.jpg) center no-repeat fixed;
    background-size: cover ;
    z-index: 1;
}

#img-2{
    width: 100%;
    height: 100%;
    /* position: fixed; */
    background: url(../assets/img/JJK_full_extizq.jpg) center no-repeat ;
    background-size: cover;
    z-index: 1;
}







